html {
    scroll-behavior: smooth;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 30px;
    background-color: #A9A9F0;
    opacity:0.3; 
    cursor:pointer; 
}
#myBtn:hover {
    opacity: 1;
}
.btnImg{
    width: 30px;
    height: 30px;
}
body{
    background-color: #E6FAFA;
    font-family: 微軟正黑體;
    margin: 0px;
    padding: 0px;
}
#navBlock{
    display: flex;
    justify-content: space-evenly;
    background-color: #A9A9F0;
    height: 100px;
    position: relative;
}
nav div a{
    text-decoration: none;
    color: white;
}
nav div a:hover{
    color: #FCEFDD;
    text-shadow: 5px 5px 5px black;
}
.navTitle{
    font-size: 25px;
    padding-top: 30px;
}
div{
    border-radius: 50px;
}
.space{
    height: 45px;
}
#backToTop{
    position:fixed;
    background-color: #A9A9F0;
    top:1000px;
    left: 1000px;
}
#personalInfo{
    text-align: center;
    font-family: "標楷體", Arial;
    background-color:#FCEFDD;
    border-style: solid;
    border-width: 3px;
    position: relative;
    column-count: 2;
    column-width: 500px;
    line-height: 60px;
    padding-right: 30px;
    padding-top: 15px;
}
#personalImg{
    width: 250px;
    height: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: transform 1s;
}
#personalImg:hover{
    transform: scale(1.2);
}
.icon{
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    transition: transform .9s;
}
.icon:hover{
    transform: rotate(340deg);
}

#name{
    font-size: 40px;
}
#department{
    font-size: 25px;
}
.subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.saying{
    text-align: center;
}
.all{
    padding: 75px;
}

#skills{
    background-color:#FCEFDD;
    border-style: solid;
    border-width: 3px;
}
#programming_skill{
    background-color:#FCEFDD;
    border-style: solid;
    border-width: 3px;
}
#programming_skill h1{
    font-family: Tempus Sans ITC;
}
.programming_bar p{
    font-weight: bold;
    font-style: italic;
}
.programming_bar p.value{
    position: relative;
    float: right;
    top: -53px;
}

* {box-sizing: border-box}

.container_bar {
  width: 100%;
  background-color: #ddd;
  border-radius: 100px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  border-radius: 100px;
  height: 45px;
}

@keyframes bar1{
    from{width: 0%;}
    to{width: 90%;}
}

@keyframes bar2{
    from{width: 0%;}
    to{width: 85%;}
}

@keyframes bar3{
    from{width: 0%;}
    to{width: 80%;}
}

@keyframes bar4{
    from{width: 0%;}
    to{width: 75%;}
}

@keyframes bar5{
    from{width: 0%;}
    to{width: 60%;}
}

.html {
    animation: bar1 5s ease-out;
    width: 90%;
    animation-iteration-count: infinite;
    background-color: #B7EC91;
}
.css {
    animation: bar2 5s ease-out;
    width: 85%;
    animation-iteration-count: infinite;
    background-color: #B7EC91;
}
.java{    
    animation: bar3 5s ease-out;
    width: 80%;
    animation-iteration-count: infinite;
    background-color:#B7EC91;
}
.C_sharp {
    animation: bar4 5s ease-out;
    width: 75%;
    animation-iteration-count: infinite; 
    background-color: #B7EC91;
}
.js {
    animation: bar5 5s ease-out;
    width: 60%;
    animation-iteration-count: infinite;
    background-color: #B7EC91;
}

.value{
    height: 30px;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: black;
}

.programming_bar{
    padding:20px;
}
#experience{
    background-color:#FCEFDD;
    border-style: solid;
    border-width: 3px;
    padding-bottom: 30px;
}
#experience h1{
    padding-left: 30px;
    font-family: Tempus Sans ITC;
   
}
#experience h2{
    font-family: "標楷體";
}
#club_experience{
    background-color:#FCEFDD;
    border-style: solid;
    border-width: 3px;
    padding: 30px;
}
#club_experience h1{
    font-family: Tempus Sans ITC;
}
#club_experience h2{
    font-family: "標楷體";
}
.club_content h2{
    text-align: center;
}
.club_content p{
    line-height: 30px;
}
.clubimgtable{
    padding-right: 50px;
}
.clubimg{
    width: 350px;
    height: 250px;
    border-radius: 5px;
    transition: transform 0.5s;
}
.clubimg:hover{
    transform: scale(1.2);
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
  
  /* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
  
  /* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
  
  /* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
  
  /* Place the container to the left */
.left {
    left: 0;
}
  
  /* Place the container to the right */
.right {
    left: 50%;
}
  
  /* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
  
  /* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
  
  /* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}
  
  /* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    height: 300px;
    border-radius: 6px;
}

.content h2{
      text-align: center;
}

.content p {
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
    line-height: 22px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

img.overlay{
    border-radius: 6px;
}
.container:hover .overlay {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
}
#awarded{
    background-color:#FCEFDD;
    border-style: solid;
    border-width: 3px;
}
#awarded h1{
    padding-left: 30px;
    font-family: Tempus Sans ITC;
}
footer{
    background-color: #A9A9F0;
    text-align: center;
    height: 75px;
}
footer p{
    padding-top: 25px;
    font-weight: bold;
}